<footer class="footer">
  <small>
    Matha Magic 
    Siddharth Ram 2013
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", "mailto:siddharthram@gmail.com" %></li>
      <li><a href="http://nayna.org/">News</a></li>
    </ul>
  </nav>
</footer>