<footer class="footer">
  <small>
    Matha Magic 
    Siddharth Ram 2013
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", "mailto:siddharthram@gmail.com" %></li>
      <li><a href="http://nayna.org/">News</a></li>
    </ul>
  </nav>
  <script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '50eb56a1f5a1f5189f000002');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</footer>